name: Publish to Github Pages

on:
  push:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
      - name: Keep npm cache around to speed up installs
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci --no-audit
      - name: Run Unit Tests
        run: npm test
      - name: Compile TypeScript
        run: npx tsc
      - name: Generate assets
        run: |
          mkdir assets
          node dist/generate-assets.js
      - name: Publish to GitHub pages
        if: github.ref == 'refs/heads/saga'
        run: |
          echo "machine github.com login accesskey password ${{ secrets.TOKEN }}" > ~/.netrc
          git config --global user.email "actions@example.com"
          git config --global user.name "GitHub Actions"
          cd assets
          git init
          git add -A
          git commit -m "update assets"
          git remote add origin https://github.com/${GITHUB_REPOSITORY}.git
          git push -f origin HEAD:gh-pages
